* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

/* header */

header {
    width: 100%;
    height: 120px;
}
.grid-menu {
    display: grid;
    grid-template-columns: 40% 1fr 20%;
}
.menu-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;

}
.bran img {
    margin-top: 10px;
    margin-left: 100px;
}
ul.menu-bar li {
    list-style: none;
}
ul.menu-bar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #82807e;
}
.search {
    text-align: right;
    margin-right: 100px;
}
.search button {
    font-size: 24px;
    color: #69645f;
    text-align: right;
    margin-top: 32px;
    padding: 5px 30px 5px 100px;
    background-color: #c3bfbc;
    border: 1px solid #c3bfbc;
    border-radius: 50px;
    cursor: pointer;
}

/* section content */

main {
    width: 100%;
    height: auto;
    position: relative;
}

.content-heading {
    width: 100%;
    height: 957px;
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.heading {
    width: 45%;
    height: auto;
    margin-left: 80px;
    padding-top: 230px;
}
.heading h1 {
    font-size: 84px;
    color: #deb37e;
}
.heading i {
    display: block;
    font-size: 24px;
    color: #54524f;
}
.heading button {
    margin-top: 70px;
    padding: 10px 35px;
    font-size: 18px;
    color: #776c64;
    background-color: #fffefd;
    border: 1px solid #fffefd;
    border-radius: 50px;
}
.heading i.paragraph {
    margin-top: 50px;
    font-size: 18px;
    color: #54524f;
}

.let-go {
    margin-top: 100px;
    text-align: center;
}
.let-go h1 {
    font-size: 50px;
    color: #e2a355;
}
.let-go p {
    margin-top: 20px;
    font-size: 18px;
    color: #7f7770;
}

.grid-item {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 278px 278px 278px;
    column-gap: 60px;
    justify-content: center;
}
.content-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    background-color: #7f7770;
}
.item-content {
    margin: 30px 0 40px 10px;
}
.item-content h3 {
    font-size: 20px;
}
.item-content p {
    font-size: 18px;
}
.show-more {
    margin-top: 50px;
    text-align: center;
}
.show-more button {
    font-size: 20px;
    background-color: #7f7770;
    padding: 12px 80px;
    border: 1px solid #7f7770;
    border-radius: 50px;
    color: #fff;
}
img.bg-bure1 {
    position: absolute;
    top: 80%;
}


section {
    width: 100%;
    height: auto;
    position: relative;
}
.grid-block1 {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #7f7770;
    color: #fff;
    justify-items: center;
}
div.block {
    margin-top: 160px;
}
div.block h1 {
    font-size: 56px;
}
div.block p {
    margin-top: 30px;
    font-size: 24px;
}
.block .read {
    padding-top: 40px;
}
.block .read button {
    width: 200px;
    font-size: 20px;
    background-color: #e2a355;
    border: 1px solid #e2a355;
    border-radius: 50px;
}

.grid-block2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #deb37e;
    color: #fff;
    justify-items: center;
}
div.block {
    margin-top: 160px;
}
.block h1 {
    font-size: 56px;
}
.block p {
    margin-top: 30px;
    font-size: 24px;
}
.block .read {
    padding-top: 40px;
}
.block button {
    font-size: 20px;
    background-color: #e2a355;
    padding: 12px 40px;
    border: 1px solid #e2a355;
    border-radius: 50px;
    color: #fff;
}

.hiking {
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 150px;
    padding-top: 150px;
    background-color: #99928d;
}
.hiking h1 {
    font-size: 44px;
}
.hiking p {
    margin-top: 20px;
    font-size: 24px;
}
img.bg-bure2 {
    position: absolute;
    top: 75%;
}

section.exp {
    margin-top: 150px;
    position: relative;
    width: 100%;
    height: auto;
}
.explore {
    width: 100%;
    height: 670px;
    background-image: url("../img/background3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.head {
    text-align: right;
    padding-top: 300px;
    padding-right: 150px;
}
.head i.EXPLORE {
    display: block;
    font-size: 64px;
    color: #deb37e;
}
.head i.WORLD {
    font-size: 64px;
    color: #54524f;
}

.grid-lorem {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    column-gap: 50px;
}
.lorem h2 {
    color: #e2a355;margin-bottom: 10px;
}

.ipsum {
    margin-top: 150px;
    text-align: center;
}
.ipsum h1 {
    font-size: 64px;
}
.ipsum p {
    font-size: 18px;
}
.ipsum p.li {
    padding-top: 30px;
    font-size: 16px;
    padding-bottom: 150px;
}
img.bg-bure3 {
    position: absolute;
    right: 0;
    top: 65%;
}

section.title {
    width: 100%;
    height: auto;
}
.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #deb37e;
}
.title h1 {
    font-size: 54px;
    color: #fff;
}
.title p {
    margin-top: 15px;
    font-size: 24px;
}
.email {
    margin-top: 50px;
}
.email input {
    width: 25%;
    padding: 8px 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 18px;
}
.email button {
    position: relative;
    left: -3%;
    padding: 8px 30px;
    border: 1px solid #54524f;
    border-radius: 50px;
    font-size: 18px;
    background-color: #54524f;
    color: #fff;
}

footer {
    width: 100%;
    height: auto;
    background-color: #7f7770;
}
.grid-footer {
    padding-top: 100px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 700px 1fr 1fr 1fr;
    color: #fff;
}

.title-here {
    padding-left: 150px;
}

.title-here h3 {
    font-size: 24px;
}
.title-here p {
    font-size: 18px;
    padding-top: 10px;
}
.app {
    color: #7f7770;
    margin-top: 5px;
}
.app .fa-instagram {
    font-size: 24px;
    padding: 5px 7px;
    border-radius: 50px;
    background-color: #fff;
}
.app .fa-facebook {
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #fff;
}
.app .fa-twitter {
    font-size: 24px;
    padding: 5px 6px;
    border-radius: 50px;
    background-color: #fff;
}
.app .fa-whatsapp {
    font-size: 24px;
    padding: 5px 8px;
    border-radius: 50px;
    background-color: #fff;
}

.about h3 {
    font-size: 24px;
}
.about ul {
    margin-top: 10px;
}
.about ul li {
    list-style: none;
}
.about ul li a {
    text-decoration: none;
    color: #fff;
}

.services h3 {
    font-size: 24px;
}
.services ul {
    margin-top: 10px;
}
.services ul li {
    list-style: none;
}
.services ul li a {
    text-decoration: none;
    color: #fff;
}

.other h3 {
    font-size: 24px;
}
.other ul {
    margin-top: 10px;
}
.other ul li {
    list-style: none;
}
.other ul li a {
    text-decoration: none;
    color: #fff;
}


@media only screen and (max-width: 1200px) {

    .grid-menu {
        grid-template-columns: 20% 1fr 20%;
    }

    .bran img {
        margin-top: 10px;
        margin-left: 50px;
    }
    .content-heading {
        height: 800px;
    }
    .heading {
        padding-top: 200px;
    }
    .heading h1 {
        font-size: 72px;
    }
    .grid-block1 img {
        height: 600px;
    }
    .grid-block1 .block {
        margin-top: 150px;
    }
    .grid-block1 .block h1 {
        font-size: 48px;
    }
    .grid-block1 .block p {
        font-size: 24px;
    }
    .block .read {
        padding-top: 20px;
    }
    .block .read button {
        font-size: 12px;
        width: 150px;
    }
    .grid-block2 img {
        height: 600px;
    }
    .grid-block2 .block {
        margin-top: 150px;
    }
    .grid-block2 .block h1 {
        font-size: 48px;
    }
    .grid-block2 .block p {
        font-size: 24px;
    }
    .head {
        padding-right: 90px;
    }
    .grid-lorem {
        column-gap: 10px;
    }
    .grid-footer {
        grid-template-columns: 400px 1fr 1fr 1fr;
        justify-items: center;
    }
    .title-here {
        padding: 0;
    }
  
  }

  @media only screen and (max-width: 992px) {

    .content-heading {
        height: 700px;
    }
    .heading {
        padding-top: 200px;
        margin-left: 35px;
    }
    .heading h1 {
        font-size: 62px;
    }
    .heading i {
        font-size: 20px;
    }
    .heading button {
        margin-top: 20px;
        font-size: 16px;
    }
    .heading i.paragraph {
        margin-top: 30px;
        font-size: 16px;
    }
    .grid-item {
        grid-template-columns: 278px;
    }
    img.bg-bure1 {
        width: 60%;
        top: 90%;
    }

    .grid-block1 img {
        height: 500px;
    }
    .grid-block1 .block {
        margin-top: 120px;
    }
    .grid-block1 .block h1 {
        font-size: 36px;
    }
    .grid-block1 .block p {
        font-size: 18px;
    }
    .block .read {
        padding-top: 15px;
    }
    .block .read button {
        font-size: 12px;
        width: 150px;
    }
    .grid-block2 img {
        height: 500px;
    }
    .grid-block2 .block {
        margin-top: 120px;
    }
    .grid-block2 .block h1 {
        font-size: 36px;
    }
    .grid-block2 .block p {
        font-size: 18px;
    }

    .hiking {
        height: 300px;
        padding-top: 70px;
    }
    .hiking h1 {
        font-size: 42px;
    }
    .hiking p {
        font-size: 20px;
    }
    img.bg-bure2 {
        width: 60%;
    }
    .explore {
        height: 360px;
    }

    .head {
        padding: 120px 20px 0 0;
    }
    .head i.EXPLORE, .head i.WORLD {
        font-size: 48px;
    }
    .grid-lorem {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        row-gap: 20px;
    }
    .ipsum {
        margin-top: 100px;
    }
    .ipsum p {
        font-size: 16px;
    }
    img.bg-bure3 {
        width: 60%;
        top: 75%;
    }
    .title h1 {
        font-size: 42px;
    }
    .title p {
        font-size: 16px;
    }
    .email input {
        font-size: 14px;
        width: 45%;
        padding: 5px 10px;
    }
    .email button {
        font-size: 12px;
        padding: 7px 20px;
        left: -5%;
    }
    .grid-footer {
        grid-template-columns: 350px 1fr 1fr 1fr;
        justify-items: center;
        padding: 50px 0;
    }
    .title-here {
        padding: 0;
    }


  }

  @media only screen and (max-width: 800px) {
    
    .search button {
        font-size: 16px;
        padding: 2px 10px 2px 80px;
        margin-top: 40px;
        margin-left: 30px;
    }
    .content-heading {
        height: 650px;
    }
    .heading {
        padding-top: 170px;
        margin-left: 35px;
    }
    .heading h1 {
        font-size: 54px;
    }
    .heading i {
        font-size: 18px;
    }
    .heading button {
        margin-top: 30px;
        font-size: 14px;
    }
    .heading i.paragraph {
        margin-top: 20px;
        font-size: 14px;
    }

    .grid-item {
        grid-template-columns: 278px;
    }
    img.bg-bure1 {
        width: 60%;
        top: 90%;
    }
    
    .grid-block1 img {
        height: 500px;
    }
    .grid-block1 .block {
        margin-top: 120px;
    }
    .grid-block1 .block h1 {
        font-size: 36px;
    }
    .grid-block1 .block p {
        font-size: 18px;
    }
    .block .read {
        padding-top: 15px;
    }
    .block .read button {
        font-size: 12px;
        width: 150px;
    }
    .grid-block2 img {
        height: 500px;
    }
    .grid-block2 .block {
        margin-top: 120px;
    }
    .grid-block2 .block h1 {
        font-size: 36px;
    }
    .grid-block2 .block p {
        font-size: 18px;
    }

    .hiking {
        height: 300px;
        padding-top: 70px;
    }
    .hiking h1 {
        font-size: 42px;
    }
    .hiking p {
        font-size: 20px;
    }
    img.bg-bure2 {
        width: 60%;
    }
    .explore {
        height: 360px;
    }

    .head {
        padding: 120px 20px 0 0;
    }
    .head i.EXPLORE, .head i.WORLD {
        font-size: 48px;
    }
    .grid-lorem {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        row-gap: 20px;
    }
    .ipsum {
        margin-top: 100px;
    }
    .ipsum p {
        font-size: 16px;
    }
    img.bg-bure3 {
        width: 60%;
        top: 75%;
    }
    .title h1 {
        font-size: 42px;
    }
    .title p {
        font-size: 16px;
    }
    .email input {
        font-size: 14px;
        width: 45%;
        padding: 5px 10px;
    }
    .email button {
        font-size: 12px;
        padding: 7px 20px;
        left: -5%;
    }
    .grid-footer {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        row-gap: 20px;
        padding: 50px 0;
    }
    .title-here {
        padding: 0;
    }


  }
  
  @media only screen and (max-width: 768px) {

    .grid-menu {
        grid-template-columns: 100px 1fr 120px;
    }
    .bran img {
        margin-left: 20px;
    }
    ul.menu-bar li a {
        font-size: 14px;
    }

    .grid-menu .search button {
        font-size: 16px;
        padding: 2px 10px 2px 60px;
    }
    
    .content-heading {
        height: 500px;
    }
    .heading {
        padding-top: 130px;
        margin-left: 25px;
    }
    .heading h1 {
        font-size: 48px;
    }
    .heading i {
        font-size: 16px;
    }
    .heading button {
        margin-top: 30px;
        font-size: 12px;
    }
    .heading i.paragraph {
        margin-top: 20px;
        font-size: 12px;
    }

    .let-go {
        margin-top: 50px;
    }
    .let-go h1 {
        font-size: 42px;
    }
    .let-go p {
        font-size: 16px;
    }
    .grid-item {
        grid-template-columns: 278px;
    }
    img.bg-bure1 {
        width: 60%;
        top: 90%;
    }
    
    .grid-block1 img {
        height: 400px;
    }
    .grid-block1 .block {
        margin-top: 100px;
    }
    .grid-block1 .block h1 {
        font-size: 24px;
    }
    .grid-block1 .block p {
        font-size: 16px;
    }
    .block .read {
        padding-top: 15px;
    }
    .block .read button {
        font-size: 12px;
        width: 150px;
    }
    .grid-block2 img {
        height: 400px;
    }
    .grid-block2 .block {
        margin-top: 100px;
    }
    .grid-block2 .block h1 {
        font-size: 24px;
    }
    .grid-block2 .block p {
        font-size: 16px;
    }

    .hiking {
        height: 300px;
        padding-top: 70px;
    }
    .hiking h1 {
        font-size: 36px;
    }
    .hiking p {
        font-size: 16px;
    }
    img.bg-bure2 {
        width: 60%;
    }
    .explore {
        height: 360px;
    }

    .head {
        padding: 120px 20px 0 0;
    }
    .head i.EXPLORE, .head i.WORLD {
        font-size: 42px;
    }
    .grid-lorem {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        row-gap: 20px;
    }
    .ipsum {
        margin-top: 100px;
    }
    .ipsum p {
        font-size: 16px;
    }
    img.bg-bure3 {
        width: 60%;
        top: 75%;
    }
    .title h1 {
        font-size: 42px;
    }
    .title p {
        font-size: 16px;
    }
    .email input {
        font-size: 14px;
        width: 45%;
        padding: 5px 10px;
    }
    .email button {
        font-size: 12px;
        padding: 7px 20px;
        left: -5%;
    }
    .grid-footer {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        row-gap: 20px;
        padding: 50px 0;
    }
    .title-here {
        padding: 0;
    }

  }
  
  @media only screen and (max-width: 600px) {
    
    header {
        height: auto;
    }
    .grid-menu {
        text-align: center;
    }
    .bran {
        grid-area: 1 / 1 / 2 / 4;
        margin-bottom: 20px;
    }
    .bran img {
        margin-left: 0;
    }
    ul.menu-bar {
        grid-area: 2 / 1 / 3 / 3;
        font-size: 14px;
    }
    .search {
        grid-area: 2 / 2 / 3 / 4;
        margin: 0;
    }
    .search button {
        margin: 0;
        font-size: 14px;
        padding: 2px 10px 2px 60px;
    }

    .content-heading {
        height: 450px;
    }
    .heading {
        padding-top: 130px;
        margin-left: 20px;
    }
    .heading h1 {
        font-size: 36px;
    }
    .heading i {
        font-size: 14px;
    }
    .heading button {
        margin-top: 20px;
        font-size: 12px;
    }
    .heading i.paragraph {
        margin-top: 20px;
        font-size: 9px;
    }

    .let-go {
        margin-top: 50px;
    }
    .let-go h1 {
        font-size: 36px;
    }
    .let-go p {
        font-size: 16px;
    }

    .grid-item {
        grid-template-columns: 278px;
        row-gap: 20px;
    }
    img.bg-bure1 {
        width: 50%;
        top: 93%;
    }

    .grid-block1 {
        margin-top: 120px;
        grid-template-columns: 1fr;
    }

    .grid-block1 img {
        height: 400px;
    }
    div.block {
        margin-top: 50px;
    }
    div.block h1 {
        font-size: 32px;
    }
    div.block p {
        margin-top: 10px;
        font-size: 16px;
    }
    .block .read {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .block .read button {
        font-size: 12px;
        width: 150px;
    }

    .grid-block2 {
        grid-template-columns: 1fr;
    }

    .grid-block2 img {
        height: 400px;
    }

    .hiking {
        height: 300px;
        padding-top: 100px;
    }
    .hiking h1 {
        font-size: 36px;
    }
    .hiking p {
        margin-top: 10px;
        font-size: 12px;
    }

    img.bg-bure2 {
        top: 88%;
        width: 60%;
    }

    section.exp {
        margin-top: 100px;
    }
    .explore {
        height: 320px;
    }
    .head {
        padding-top: 150px;
        padding-right: 30px;
    }
    .head i.EXPLORE, .head i.WORLD {
        font-size: 20px;
    }
    .grid-lorem {
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-items: center;
        text-align: center;
    }
    
    img.bg-bure3 {
        top: 53%;
        width: 60%;
    }
    .ipsum h1 {
        font-size: 64px;
    }
    .ipsum p {
        font-size: 14px;
    }
    .ipsum p.li {
        padding-bottom: 70px;
        font-size: 16px;
    }

    section.title {
        height: auto;
    }
    .title {
        padding: 30px 0;
    }
    .title h1 {
        font-size: 36px;
    }
    .title p {
        font-size: 14px;
    }
    .email input {
        font-size: 14px;
        width: 45%;
        padding: 5px 10px;
    }
    .email button {
        font-size: 12px;
        padding: 7px 10px;
        left: -5%;
    }
    .grid-footer {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 50px 0;
        row-gap: 20px;
    }
    .title-here {
        padding: 0;
    }
    
  }
  
  @media only screen and (max-width: 480px) {
  
    header {
        height: auto;
    }
    .grid-menu {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    .bran {
        grid-area: 1 / 1 / 2 / 4;
        margin: 0 auto;
    }
    .bran img {
        margin-left: 0;
    }

    ul.menu-bar li a {
        font-size: 12px;
    }
    .search {
        grid-area: 3 / 1 / 4 / 3;
    }
    .search button {
        font-size: 12px;
        padding: 3px 15px 3px 50px;
    }

    div.search {
        margin: 0;
        text-align: center;
    }
    .content-heading {
        margin-top: 20px;
        height: 450px;
    }
    .heading {
        padding-top: 150px;
        margin-left: 20px;
    }
    .heading h1 {
        font-size: 28px;
    }
    .heading i {
        font-size: 10px;
    }
    .heading button {
        margin-top: 10px;
        padding: 5px 20px;
        font-size: 10px;
        color: #776c64;
    }
    .heading i.paragraph {
        margin-top: 30px;
        font-size: 9px;
    }
    div.let-go {
        margin-top: 50px;
    }
    .let-go h1 {
        font-size: 28px;
    }
    .let-go p {
        margin-top: 10px;
        font-size: 10px;
    }

    .grid-item {
        grid-template-columns: 278px;
        row-gap: 20px;
    }
    .show-more button {
        font-size: 16px;
        padding: 10px 70px;
    }
    img.bg-bure1 {
        top: 92%;
        width: 60%;
    }

    .grid-block1 {
        margin-top: 120px;
        grid-template-columns: 1fr;
    }

    .grid-block1 img {
        height: 400px;
    }
    div.block {
        margin-top: 50px;
    }
    div.block h1 {
        font-size: 32px;
    }
    div.block p {
        margin-top: 10px;
        font-size: 16px;
    }
    .block .read {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .block .read button {
        font-size: 12px;
        width: 150px;
    }

    .grid-block2 {
        grid-template-columns: 1fr;
    }

    .grid-block2 img {
        height: 400px;
    }
    
    .hiking {
        height: 300px;
        padding-top: 100px;
    }
    .hiking h1 {
        font-size: 24px;
    }
    .hiking p {
        margin-top: 10px;
        font-size: 10px;
    }

    img.bg-bure2 {
        top: 88%;
        width: 60%;
    }

    section.exp {
        margin-top: 100px;
    }
    .explore {
        height: 320px;
    }
    .head {
        padding-top: 150px;
        padding-right: 30px;
    }
    .head i.EXPLORE, .head i.WORLD {
        font-size: 20px;
    }
    .grid-lorem {
        grid-template-columns: 1fr;
        row-gap: 20px;
        justify-items: center;
        text-align: center;
    }
    
    img.bg-bure3 {
        top: 53%;
        width: 60%;
    }
    .ipsum h1 {
        font-size: 54px;
    }
    .ipsum p {
        font-size: 12px;
    }
    .ipsum p.li {
        padding-bottom: 70px;
        font-size: 14px;
    }

    section.title {
        height: auto;
    }
    .title h1 {
        font-size: 28px;
    }
    .title p {
        font-size: 12px;
    }
    .email input {
        font-size: 14px;
        width: 45%;
        padding: 5px 10px;
    }
    .email button {
        font-size: 12px;
        padding: 7px 10px;
        left: -7%;
    }

    .grid-footer {
        grid-template-columns: 1fr;
        row-gap: 20px;
        padding-bottom: 30px;
        padding-top: 50px;
        justify-items: center;
        text-align: center;
    }
    .title-here {
        padding: 0;
    }

  }