* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}
.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}


/* header */

header {
    width: 100%;
    height: 120px;
}
.grid-menu {
    display: grid;
    grid-template-columns: 630px 1fr 200px;
}
.menu-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;

}
.bran img {
    margin-top: 10px;
}
ul.menu-bar li {
    list-style: none;
}
ul.menu-bar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #82807e;
}
.search {
    text-align: right;
}
i.fa.fa-search {
    font-size: 24px;
    color: #69645f;
    text-align: right;
    margin-top: 32px;
    padding: 8px 30px 8px 100px;
    background-color: #c3bfbc;
    border-radius: 50px;
}

/* section content */

main {
    width: 100%;
    height: auto;
    position: relative;
}

.content-heading {
    width: 100%;
    height: 957px;
    background-image: url("../img/background1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.heading {
    width: 40%;
    height: auto;
    margin-left: 80px;
    padding-top: 230px;
}
.heading h1 {
    font-size: 84px;
    color: #deb37e;
}
.heading i {
    display: block;
    font-size: 24px;
    color: #54524f;
}
.heading span {
    display: inline-block;
    margin-top: 70px;
    background-color: #fffefd;
    padding: 10px 35px;
    border-radius: 50px;
    color: #776c64;
}
.heading i.paragraph {
    margin-top: 50px;
    font-size: 18px;
    color: #54524f;
}

.let-go {
    margin-top: 100px;
    text-align: center;
}
.let-go h1 {
    font-size: 50px;
    color: #e2a355;
}
.let-go p {
    margin-top: 20px;
    font-size: 18px;
    color: #7f7770;
}

.grid-item {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 275px 275px 275px;
    column-gap: 60px;
    justify-content: center;
}
.content-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    background-color: #7f7770;
}
.item-content {
    margin: 30px 0 40px 10px;
}
.item-content h3 {
    font-size: 20px;
}
.item-content p {
    font-size: 18px;
}
.show-more {
    margin-top: 100px;
    text-align: center;
}
.show-more span {
    font-size: 20px;
    background-color: #7f7770;
    padding: 12px 70px;
    border-radius: 50px;
    color: #fff;
}
img.bg-bure1 {
    position: absolute;
    top: 80%;
}


section {
    width: 100%;
    height: auto;
    position: relative;
}
.grid-block1 {
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #7f7770;
    color: #fff;
}
div.block {
    margin: 160px 0 0 50px;
}
div.block h1 {
    font-size: 56px;
}
div.block p {
    margin-top: 30px;
    font-size: 24px;
}
.block .read {
    padding-top: 40px;
}
.block span {
    font-size: 20px;
    background-color: #e2a355;
    padding: 12px 40px;
    border-radius: 50px;
}

.grid-block2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #deb37e;
    color: #fff;
}
div.block {
    margin: 160px 0 0 50px;
}
.block h1 {
    font-size: 56px;
}
.block p {
    margin-top: 30px;
    font-size: 24px;
}
.block .read {
    padding-top: 40px;
}
.block span {
    font-size: 20px;
    background-color: #e2a355;
    padding: 12px 40px;
    border-radius: 50px;
    color: #fff;
}

.hiking {
    position: relative;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 150px;
    padding-top: 150px;
    background-color: #99928d;
}
.hiking h1 {
    font-size: 44px;
}
.hiking p {
    margin-top: 20px;
    font-size: 24px;
}
img.bg-bure2 {
    position: absolute;
    top: 75%;
}

section.exp {
    margin-top: 150px;
    position: relative;
    width: 100%;
    height: auto;
}
.explore {
    width: 100%;
    height: 670px;
    background-image: url("../img/background3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.head {
    text-align: right;
    padding-top: 300px;
    padding-right: 150px;
}
.head i.EXPLORE {
    display: block;
    font-size: 64px;
    color: #deb37e;
}
.head i.WORLD {
    font-size: 64px;
    color: #54524f;
}

.grid-lorem {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    column-gap: 50px;
}

.ipsum {
    margin-top: 150px;
    text-align: center;
}
.ipsum h1 {
    font-size: 64px;
}
.ipsum p {
    font-size: 18px;
}
.ipsum p.li {
    padding-top: 30px;
    font-size: 16px;
    padding-bottom: 150px;
}
img.bg-bure3 {
    position: absolute;
    right: 0;
    top: 65%;
}

section.title {
    width: 100%;
    height: auto;
}
.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #deb37e;
}
.title h1 {
    font-size: 54px;
    color: #fff;
}
.title p {
    margin-top: 15px;
    font-size: 24px;
}
.email {
    margin-top: 50px;
}
.email input {
    padding: 8px 180px 8px 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 18px;
}
.email button {
    position: relative;
    left: -3%;
    padding: 8px 30px;
    border: 1px solid #54524f;
    border-radius: 50px;
    font-size: 18px;
    background-color: #54524f;
    color: #fff;
}

footer {
    width: 100%;
    height: auto;
    background-color: #7f7770;
}
.grid-footer {
    padding-top: 100px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 580px 1fr 1fr 1fr;
    justify-items: center;
    color: #fff;
}
.title-here h3 {
    font-size: 24px;
}
.title-here p {
    font-size: 18px;
    padding-top: 10px;
}
.app {
    color: #7f7770;
    margin-top: 5px;
}
.app .fa-instagram {
    font-size: 24px;
    padding: 5px 7px;
    border-radius: 50px;
    background-color: #fff;
}
.app .fa-facebook {
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #fff;
}
.app .fa-twitter {
    font-size: 24px;
    padding: 5px 6px;
    border-radius: 50px;
    background-color: #fff;
}
.app .fa-whatsapp {
    font-size: 24px;
    padding: 5px 8px;
    border-radius: 50px;
    background-color: #fff;
}



.abount h3 {
    font-size: 24px;
}
.abount ul {
    margin-top: 10px;
}
.abount ul li {
    list-style: none;
}
.abount ul li a {
    text-decoration: none;
    color: #fff;
}

.services h3 {
    font-size: 24px;
}
.services ul {
    margin-top: 10px;
}
.services ul li {
    list-style: none;
}
.services ul li a {
    text-decoration: none;
    color: #fff;
}

.other h3 {
    font-size: 24px;
}
.other ul {
    margin-top: 10px;
}
.other ul li {
    list-style: none;
}
.other ul li a {
    text-decoration: none;
    color: #fff;
}